/* Selector with id  */
#red_element{
    color: red;
}

/* Selector with class */
.alert {
    color: teal;

    /* Use of font stack since fonts can be either web-safe or web. */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Selector with element  */
footer {
    color: rgb(147, 141, 141);
    font-size: 10px;
    padding-top: 10px;
}