/* Class selector  */
.navbar {
    background-color: black;
    border-radius: 30px;
}

.navbar ul {
    /* Removing the bullet points  */
    list-style: none;
    overflow: auto;
}

.navbar li {
    float: left;
    padding: 12px 12px;
}

.navbar a {
    /* Removing the default underline from the text */
    text-decoration: none;
    color: white;
   
}

.navbar input {
    /* Styling the search bar inside the navigation bar */
    border-radius: 10px;
    width: 200px;
}

.search {
    float: right;
    padding: 12px 12px;
}